<!DOCTYPE html>
<html>
  <head>
    <%=meta%>
    <title><%=appName%> : Read Chapter</title>
    <meta name="og:title" content="<%=appName%> : Read Chapter" />
    <link href="<%=baseUrl%>/static/styles-<%=version%>.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-r from-black to-gray-900 font-mono text-white">
    <!--HEADER ======================-->
    <%=header%>

    <div id="loading" class="shadow rounded-md p-4 max-w-sm w-full mx-auto">
      <div class="animate-pulse flex space-x-4">
        <div class="rounded-full bg-slate-700 h-10 w-10"></div>
        <div class="flex-1 space-y-6 py-1">
          <div class="h-2 bg-slate-700 rounded"></div>
          <div class="space-y-3">
            <div class="grid grid-cols-3 gap-4">
              <div class="h-2 bg-slate-700 rounded col-span-2"></div>
              <div class="h-2 bg-slate-700 rounded col-span-1"></div>
            </div>
            <div class="h-2 bg-slate-700 rounded"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="m-5">
      <span
        ><a href="<%=baseUrl%>" class="m-2">Home</a>&#9654;<a
          class="m-2"
          id="current_manga_link"
          >Current Manga</a
        ></span
      >
    </div>

    <!--NAVIGATION ======================================-->
    <div class="m-5 group flex justify-end">
      <a class="back m-1 join-item btn btn-outline btn-info">
        <svg
          class="fill-blue-400 group-hover:fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            class="fill-current"
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
          />
        </svg>
        Back
      </a>
      <a class="next group m-1 join-item btn btn-outline btn-info"
        >Next
        <svg
          class="fill-blue-400 group-hover:fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
          />
        </svg>
      </a>
    </div>
    <!--Dropdown-->
    <details class="dropdown mb-32 text-center w-52">
      <summary class="m-1 btn dropdown-title"></summary>
      <ul
        class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-full h-64 overflow-x-auto"
      ></ul>
    </details>

    <!--IMAGE PANEL ======================================-->
    <div class="flex justify-center items-center">
      <div id="image-panel" class="m-5 flex flex-col items-center"></div>
    </div>
    <div class="m-5 group flex justify-end">
      <a class="back m-1 join-item btn btn-outline btn-info">
        <svg
          class="fill-blue-400 group-hover:fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            class="fill-current"
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
          />
        </svg>
        Back
      </a>
      <a class="next group m-1 join-item btn btn-outline btn-info"
        >Next
        <svg
          class="fill-blue-400 group-hover:fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
          />
        </svg>
      </a>
    </div>

    <!--DISQUS ================================-->
    <div id="disqus_thread" class="text-white sm:p-20 p-4"></div>

    <!--FOOTER =========================-->
    <%=footer%>

    <script src="http://localhost:8000/viewModels/chapter-<%=version%>.js"></script>
  </body>
</html>
