<!DOCTYPE html>
<html>
  <head>
    <%=meta%>
    <title><%=appName%></title>
    <meta name="og:title" content="<%=appName%>" />
    <link href="<%=baseUrl%>/static/styles-<%=version%>.css" rel="stylesheet" />
  </head>
  <body
    class="scrollbar bg-gradient-to-r from-black to-gray-900 font-mono text-white"
  >
    <!--HEADER ===========-->

    <%= header %>
    <div class="flex flex-wrap m-0 sm:m-5 2xl:mx-32 justify-center">
      <!-- Action -->
      <a
        href="<%=baseUrl%>/genre/Action/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/3/u/1-1583463814.jpg"
            alt="Action"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Action</p>
        </div>
      </a>

      <!-- Mecha -->
      <a
        href="<%=baseUrl%>/genre/Mecha/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/27/z/7-1583477323.jpg"
            alt="Mecha"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Mecha</p>
        </div>
      </a>

      <!-- Comedy -->
      <a
        href="<%=baseUrl%>/genre/Comedy/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/43/d/3-1583469370.jpg"
            alt="Comedy"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Comedy</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/Shounen/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/18/f/1-1583464405.jpg"
            alt="Shounen"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Shounen</p>
        </div>
      </a>

      <!-- Seinen -->
      <a
        href="<%=baseUrl%>/genre/Seinen/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/25/i/1-1583464690.jpg"
            alt="Seinen"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Seinen</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/Psychological/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/9/v/6-1583474504.jpg"
            alt="Psychological"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Psychological</p>
        </div>
      </a>

      <!-- Fantasy -->
      <a
        href="<%=baseUrl%>/genre/Fantasy/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/30/a/17-1583496340.jpg"
            alt="Fantasy"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Fantasy</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/mystery/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/31/e/19-1583500326.jpg"
            alt="Mystery"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Mystery</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/sci%20fi/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/40/f/10-1583483625.jpg"
            alt="Sci fi"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Sci fi</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/school/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/31/n/6-1583475402.jpg"
            alt="School"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">School</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/sports/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/2/n/1-1583463761.jpg"
            alt="Sports"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Sports</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/josei/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/10/h/6-1583474522.jpg"
            alt="Josei"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Josei</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/romance/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/15/d/1-1583464266.jpg"
            alt="Romance"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Romance</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/Webtoons/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/19/x/1-1583464480.jpg"
            alt="Webtoons"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Webtoons</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/Drama/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/47/t/3-1583469558.jpg"
            alt="Drama"
          />
        </figure>

        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Drama</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/manhwa/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/32/i/14-1583490877.jpg"
            alt="Manhwa"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Manhwa</p>
        </div>
      </a>

      <a
        href="<%=baseUrl%>/genre/Martial/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/25/z/3-1583468698.jpg"
            alt="Martial Arts"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Martial Arts</p>
        </div>
      </a>
      <a
        href="<%=baseUrl%>/genre/harem/1"
        class="card m-2 p-2 w-48 min-w-48 bg-base-100 shadow-xl cursor-pointer"
      >
        <figure>
          <img
            class="h-64 w-full"
            src="https://avt.mkklcdnv6temp.com/10/g/18-1583497477.jpg"
            alt="Harem"
          />
        </figure>
        <div class="card-body p-2">
          <p class="card-text flex justify-center font-bold">Harem</p>
        </div>
      </a>
    </div>
    <!-- FOOTER ======================-->
    <%=footer%>

    <script src="<%=baseUrl%>/viewModels/index-<%=version%>.js"></script>
  </body>
</html>
