<!DOCTYPE html>
<html>
  <head>
    <%=meta%>
    <title><%=appName%></title>
    <meta name="og:title" content="<%=appName%>" />
    <link href="<%=baseUrl%>/static/styles-v1.0.3.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-r from-black to-gray-900 font-mono text-white">
    <!--HEADER ===========-->
    <%= header %>

    <div class="flex m-5 justify-center">
      <span class="loading loading-infinity loading-lg"></span>
    </div>

    <!-- CONTINUE PANEL ========================-->
    <section class="continue-header p-7 hidden">
      <h3 class="text-2xl font-sans font-bold">Continue Reading</h3>
      <div
        class="continue-panel m-5 font-thin text-sm overflow-x-auto flex flex-nowrap"
      ></div>
    </section>

    <section class="p-7">
      <div class="flex">
        <h3 class="flex-1 font-sans text-2xl font-bold">Popular Manga</h3>
        <!-- NAVIGATION SYSTEM ===============-->

        <a
          class="next font-bold text-blue-500 m-1 border border-blue-500 rounded px-3 py-2 hover:bg-blue-500 hover:text-white"
          >Read More</a
        >
      </div>
      <div id="cards" class="overflow-x-auto flex flex-nowrap m-5"></div>
    </section>

    <div id="root"></div>
    <section class="p-7">
      <h3 class="text-2xl font-sans font-bold">Latest Manga</h3>
      <div class="latest-manga grid lg:grid-cols-3 grid-cols-1 gap-4 m-5"></div>
    </section>

    <!-- FOOTER ======================-->
    <%=footer%>

    <script src="<%=baseUrl%>/viewModels/index-<%=version%>.js"></script>
  </body>
</html>
