<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Free read manga online in high quality. Update hourly, No registration required. Just enjoy your manga"
/>
<meta name="copyright" content="Copyright © 2023 Manga Harbor" />
<meta name="author" content="MangaHarbor" />
<meta
  name="keywords"
  content="read manga online, read manga free, read free manga, manga online"
/>
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="1 days" />
<link rel="canonical" href="https://mangaharbor.net/home" />
<base href="https://mangaharbor.net/home/" />
<link rel="icon" type="image/x-icon" href="<%=baseUrl%>/static/logo.png" />
