<!DOCTYPE html>
<html>
  <head>
    <%=meta%>
    <title><%=appName%> : Privacy Policies</title>

    <meta property="og:title" content="<%=appName%> : Privacy Policies" />
    <link href="<%=baseUrl%>/static/styles-v1.0.4.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-r from-black to-gray-800 font-mono text-white">
    <!--HEADER ===========-->
    <%=header%>

    <div class="p-5 sm:p-20 sm:m-20">
      <h3 class="font-bold text-2xl mb-10">Privacy Policy</h3>
      <span class="font-semibold">Who we are</span>
      <p>Our website address is: [<%=baseUrl%>]</p>
      <p>Last document update: 27 June 2023</p>

      <span class="font-semibold"><br />Why we use your information:</span>
      <p>
        Any of the information we collect from you may be used in one of the
        following ways: To personalize your experience (your information helps
        us to better respond to your individual needs) To improve our website
        (we continually strive to improve our website offerings based on the
        information and feedback we receive from you)
      </p>

      <span class="font-semibold"
        ><br />
        How we protect your information:</span
      >
      We implement a variety of security measures to maintain the safety of your
      personal information when you enter, submit, or access your personal
      information.

      <span class="font-semibold"><br />Do we use cookies?</span>

      <p>
        Yes, Cookies are small files that a site or its service provider
        transfers to your computer's hard drive through your web browser (if you
        allow) that enables the sites or service providers systems to recognize
        your browser and capture and remember certain information We use cookies
        to understand and save your preferences for future visits.
      </p>

      <span class="font-semibold">
        <br />California Online Privacy Protection Act Compliance:</span
      >
      <p>
        Because we value your privacy we have taken the necessary precautions to
        be in compliance with the California Online Privacy Protection Act. We
        therefore will not distribute your personal information to outside
        parties without your consent. As part of the California Online Privacy
        Protection Act, all users of our site may make any changes to their
        information at anytime by logging into their profile and going to the
        'Edit My Information' page.
      </p>

      <span class="font-semibold">
        <br />Childrens Online Privacy Protection Act Compliance:</span
      >
      <p>
        We are in compliance with the requirements of COPPA (Childrens Online
        Privacy Protection Act), we do not collect any information from anyone
        under 13 years of age. Our website, products and services are all
        directed to people who are at least 13 years old or older.
      </p>

      <span class="font-semibold"><br />Online Privacy Policy Only:</span>
      <p>
        This online privacy policy applies only to information collected through
        our website and not to information collected offline.
      </p>

      <span class="font-semibold"><br />Your Consent:</span>
      <p>
        By using our site, you consent to our web site privacy policy,
        disclaimer and terms.
      </p>
    </div>
    <!-- FOOTER ======================-->
    <%=footer%>
  </body>
</html>
