<!DOCTYPE html>
<html>
  <head>
    <%= meta%>
    <title><%=appName%></title>
    <meta name="og:title" content="<%=appName%>" />
    <link href="<%=baseUrl%>/static/styles-v1.0.6.css" rel="stylesheet" />
  </head>
  <body
    class="bg-gradient-to-r scrollbar from-black to-gray-900 font-mono text-white"
  >
    <!--HEADER ======================-->
    <%=header%>

    <!-- NAVIGATION SYSTEM ===============-->
    <div class="m-5 group flex justify-end">
      <a class="back hidden m-1 join-item btn btn-outline btn-info">
        <svg
          class="fill-blue-400 group-hover:fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            class="fill-current"
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
          />
        </svg>
        Back
      </a>
      <a class="next hidden group m-1 join-item btn btn-outline btn-info"
        >Next
        <svg
          class="fill-blue-400 group-hover:fill-current"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
          />
        </svg>
      </a>
    </div>

    <!-- CARDS ========================-->
    <div
      id="cards"
      class="grid lg:gap-10 mx-30 lg:grid-cols-3 grid-cols-1 gap-6 m-2"
    ></div>

    <!-- NAVIGATION SYSTEM ===============-->
    <div class="m-5 flex justify-end">
      <a class="back hidden group m-1 join-item btn btn-outline btn-info">
        <svg
          class="fill-blue-400 group-hover:fill-gray-700"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"
          />
        </svg>
        Back
      </a>
      <a class="next hidden m-1 group join-item btn btn-outline btn-info"
        >Next
        <svg
          class="fill-blue-400 group-hover:fill-gray-700"
          xmlns="http://www.w3.org/2000/svg"
          height="1em"
          viewBox="0 0 320 512"
        >
          <path
            d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"
          />
        </svg>
      </a>
    </div>

    <!--FOOTER =========================-->
    <%=footer%>

    <script src="<%=baseUrl%>/viewModels/search-<%=version%>.js"></script>
  </body>
</html>
