<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-900 font-mono text-white">
    <header class="opacity-75 mb-2">
      <nav class="justify-center flex">
        <a href="http://localhost:3000" class="m-5 text-xs lg:text-medium font-bold"
          >Home Comics</a
        >
        <a href="#" class="m-5 text-xs lg:text-medium font-bold"
          >Indian Comics</a
        >
        <a href="#" class="m-5 text-xs lg:text-medium font-bold"
          >Other Comics</a
        >
      </nav>
    </header>
    <div class="grid lg:grid-cols-3 grid-cols-1 gap-4 m-2">
      <div class="h-56">
        <div
          class="w-full h-full bg-gray-700 grid grid-rows-5 gap-4 grid-flow-col rounded-lg p-2"
        >
          <img
            loading="lazy"
            class="h-full col-span-2 row-span-5"
            src="https://avt.mkklcdnv6temp.com/32/m/17-1583496423.jpg"
          />
          <div class="col-span-3 row-span-5">
            <div class="mb-3">
              <span id="cardTitle" class="font-sans font-semibold">
                This is title
              </span>
            </div>
            <div class="flex text-sm">
              <span>Status :</span>
              <span id="status" class="text-xs"> Ongoing</span>
            </div>
            <div class="flex text-sm">
              <span>Author :</span>
              <span id="author" class="text-xs">Mayank</span>
            </div>
            <div class="flex text-sm">
              <span id="genre">Genre :</span>
              <span class="text-xs"> Romance, Action, Hello there</span>
            </div>
            <div class="flex text-sm">
              <span>Last Updated :</span>
              <span id="updated" class="text-xs">25 March 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-56">
        <div class="w-full h-full bg-gray-700 grid grid-cols-2 rounded-lg p-2">
          <img
            loading="lazy"
            class="h-full"
            src="https://avt.mkklcdnv6temp.com/32/m/17-1583496423.jpg"
          />
          <div>
            <div class="mb-3">
              <span id="cardTitle" class="font-sans font-semibold">
                This is title
              </span>
            </div>
            <div class="float-left text-sm">
              <span>Status :</span>
              <span id="status" class="text-xs"> Ongoing</span>
            </div>
            <div class="float-left text-sm">
              <span>Author :</span>
              <span id="author" class="text-xs">Mayank</span>
            </div>
            <div class="float-left text-sm">
              <span id="genre">Genre :</span>
              <span class="text-xs"> Romance, Action, Hello there</span>
            </div>
            <div class="float-left text-sm">
              <span>Last Updated :</span>
              <span id="updated" class="text-xs">25 March 2020</span>
            </div>
          </div>
        </div>
      </div>
      <div class="h-56">
        <div class="w-full h-full bg-gray-700 grid grid-cols-2 rounded-lg p-2">
          <img
            loading="lazy"
            class="h-full"
            src="https://avt.mkklcdnv6temp.com/32/m/17-1583496423.jpg"
          />
          <div>
            <div class="mb-3">
              <span id="cardTitle" class="font-sans font-semibold">
                This is title
              </span>
            </div>
            <div class="float-left text-sm">
              <span>Status :</span>
              <span id="status" class="text-xs"> Ongoing</span>
            </div>
            <div class="float-left text-sm">
              <span>Author :</span>
              <span id="author" class="text-xs">Mayank</span>
            </div>
            <div class="float-left text-sm">
              <span id="genre">Genre :</span>
              <span class="text-xs"> Romance, Action, Hello there</span>
            </div>
            <div class="float-left text-sm">
              <span>Last Updated :</span>
              <span id="updated" class="text-xs">25 March 2020</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
