<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="http://localhost:8000/static/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gray-900 font-mono text-white">
    <header class="opacity-75 mb-2">
      <nav class="justify-center flex">
        <a href="http://localhost:8000" class="m-5 text-xs lg:text-medium font-bold"
          >Home Comics</a
        >
        <a href="#" class="m-5 text-xs lg:text-medium font-bold"
          >Indian Comics</a
        >
        <a href="#" class="m-5 text-xs lg:text-medium font-bold"
          >Other Comics</a
        >
      </nav>
    </header>
    <div class="grid grid-rows-3 grid-flow-col gap-4 m-5">
      <div id="ad" class="row-span-3 bg-gray-700 rounded-lg p-2">
        <img
          src="https://avt.mkklcdnv6temp.com/6/z/28-1674958102.jpg"
          alt="ads"
          class="col-span-1 row-span-3"
        />
      </div>
      <div class="col-span-2 bg-gray-700 rounded-lg p-2">
        <div class="grid grid-rows-3 grid-flow-col gap-4">
          <img id="thumbnail" alt="" class="col-span-1 row-span-3" />
          <div class="col-span-4 row-span-3">
            <h1 class="font-black" id="title"></h1>
            <div>
              <span class="font-black">Status :</span>
              <span id="status"> </span>
            </div>
            <div>
              <span class="font-black">Author :</span>
              <span id="author"></span>
            </div>
            <div>
              <span class="font-black">Genre :</span>
              <span id="genre"> </span>
            </div>
            <div>
              <span class="font-black">Last Updated :</span>
              <span id="last-updated"></span>
            </div>
            <div>
              <span class="font-black">Description :</span>
              <span id="summary"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row-span-2 col-span-2 bg-gray-700 rounded-lg p-2">
        <div class="flex bg-gray-900 rounded-lg p-2 m-1">
          <a href=""> Chapters 1</a>
        </div>
        <div class="flex bg-gray-500 rounded-lg p-2 m-1">
          <a href="#">Chapters 2</a>
        </div>
        <div class="flex bg-gray-900 rounded-lg p-2 m-1">
          <a href=""> Chapters 3</a>
        </div>
      </div>
    </div>
    <script src="http://localhost:8000/viewModels/config.js"></script>
    <script src="http://localhost:8000/viewModels/manga.js"></script>
  </body>
</html>
