<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{appName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{baseUrl}}/static/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-r from-black to-gray-900 font-mono text-white">
    <!--HEADER ===========-->
    {{{header}}}

    <!-- FOOTER ======================-->
    {{{footer}}}

    <script src="{{baseUrl}}/viewModels/config.js"></script>
    <script src="{{baseUrl}}/viewModels/utils.js"></script>
    <script src="{{baseUrl}}/viewModels/index.js"></script>
  </body>
</html>
