<header class="flex p-5 justify-between items-center py-4 px-8 bg-gray-900">
  <div class="flex items-center">
    <a href="{{baseUrl}}/home">
      <img src="logo.png" alt="Manga Harbor" class="h-8 w-auto" />
    </a>
  </div>
  <div class="flex items-center">
    <form id="searchForm" class="relative">
      <input
        id="search"
        type="text"
        placeholder="Search"
        class="p-2 w-32 sm:w-auto sm:pl-4 sm:pt-2 sm:pb-2 sm:pr-3 rounded-md bg-gray-400 text-gray-900 placeholder-gray-900 focus:outline-none focus:ring focus:border-blue-300"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="absolute right-2 top-1/2 transform -translate-y-1/2 w-6 h-6 text-gray-900"
      >
        <circle cx="11" cy="11" r="8" />
        <line x1="21" y1="21" x2="16.65" y2="16.65" />
      </svg>
    </form>
  </div>
</header>
