<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{{appName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{baseUrl}}/static/style.css" rel="stylesheet" />
  </head>
  <body class="bg-gradient-to-r from-black to-gray-900 font-mono text-white">
    <!--HEADER ======================-->
    {{{header}}}

    <!-- NAVIGATION SYSTEM ===============-->
    <div class="m-5 flex justify-end">
      <a
        class="back text-blue-500 m-1 border hidden border-blue-500 rounded px-2 py-1 hover:bg-blue-500 hover:text-white"
        >Back</a
      >
      <a
        class="next text-blue-500 m-1 border border-blue-500 rounded px-2 py-1 hover:bg-blue-500 hover:text-white"
        >Next</a
      >
    </div>

    <!-- CARDS ========================-->
    <div id="cards" class="grid lg:grid-cols-3 grid-cols-1 gap-4 m-2"></div>

    <!-- NAVIGATION SYSTEM ===============-->
    <div class="p-5 flex justify-end">
      <a
        class="back text-blue-500 m-1 border hidden border-blue-500 rounded px-2 py-1 hover:bg-blue-500 hover:text-white"
        >Back</a
      >
      <a
        class="next text-blue-500 m-1 border border-blue-500 rounded px-2 py-1 hover:bg-blue-500 hover:text-white"
      >
        Next</a
      >
    </div>

    <!--FOOTER =========================-->
    {{{footer}}}

    <script src="{{baseUrl}}/viewModels/config.js"></script>
    <script src="{{baseUrl}}/viewModels/utils.js"></script>
    <script src="{{baseUrl}}/viewModels/search.js"></script>
  </body>
</html>
